@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #000;
}

.content h2{
    color: #fff;
    font-size: 7em;
    position: absolute;
    /*transform:translate(-0%, 0%); */
    width: 100%;
    text-align: center;
}

.content h2:nth-child(1){
    color: #fff;
    -webkit-text-stroke: 2px #C9001E;
}

.content h2:nth-child(2){
    color: #722F37;
    animation: animate 5s ease-in-out infinite;
}

@keyframes animate{
    0%,
    100%{
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            71% 61%,
            84% 59%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

#speech{
    height: 200px;
    margin: 20px;
}

#daco{
    width: 100%;
    text-align: center;
}

p{
    width: 500px;
    color: #C9001E;
}

hr{
    height: 5px;
    background-color: #722F37;
    border: none;
    margin-bottom: 5vw;
}

#hlavna{
    padding-left: 100px;
    display: grid;
    text-align: center;
    grid-template-columns: lfr lfr;
    text-align: center;

}

textarea{
    resize: none;
    overflow: auto;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    border-color:#722F37 ;
    height: 60vh;
    width: 25vw;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;   
}

textarea::-webkit-scrollbar{
    width: 12px;
    height: 20px;
}

textarea::-webkit-scrollbar-track{
    background-color: #722F37;
    border-radius: 2px;
}

textarea::-webkit-scrollbar-thumb{
    border: 2px solid black;
    border-radius: 20px;
    background: #984952;
}

/* color on hover */
textarea::-webkit-scrollbar-thumb:hover{
    background: #555;
}

#fileInput{
    /* background-color: FF5959; */
    border-radius: 20px;
    width: 50px;
}

#blob{
    width: 400px;
    height: 400px;
}

.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

#skuska{
    border: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

#panel{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#panel2{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#panel12::-webkit-scrollbar{
    width: 12px;
    height: 6px;
}

/* background of the scrollbar */
#panel2::-webkit-scrollbar-track{
    background: #000;
}

/* color of the scrollbar handle */
#panel2::-webkit-scrollbar-thumb{
    background: #888;
}

/* color on hover */
#panel2::-webkit-scrollbar-thumb:hover{
    background: #555;
}

#colorpicker{
    float: left;
}

#areaTerminal{
    display: grid;
    grid-template-columns: lfr;
    gap: 20px;
    text-align: center;
}

option{
    background-color: #834545;
}

menu{
    background-color: #834545;
}

button{
    padding: 0px 20px;
    background-color: #834545;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    margin: 0 10px;
}

#panel button, #panel2 button{
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    padding: 0px 20px;
    margin: 0 10px;
}

#messages{
    width: 25vw;
    height: 50px;
    background-color: #C9001E;
    font-weight: bold;
    border-radius: 20px;
}
a{
    text-decoration:none ;
    color: #722F37;
    padding: 10px 20px;
}

.line-number{
    user-select: none;
    pointer-events: none;
    display: inline-block;
    width: 20px;
    text-align: right;
    margin-right: 10px;
    color: #555;
}

.slider{
    display: block;
}

.filtreVsetky{
    margin: 0 10px;
}

#comntainer{
    display: grid;
    grid-template-columns: lfr lfr;
}